<!DOCTYPE html>
<html>
  <head>
    <title> GoN Kapo Qual </title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/materialize.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/qual.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.js"></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  </head>
  <body style="background-color:#e0e0e0">
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="{{ url_for('frontend.main') }}">GoN</a></li>
          <li><a href="{{ url_for('frontend.mypage') }}">Mypage</a></li>
        </ul>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{{ url_for('frontend.rule') }}">Rule</a></li>
          <li><a href="{{ url_for('frontend.prob') }}">Probs</a></li>
          <li><a href="{{ url_for('frontend.score') }}">Score</a></li>

          <li><a href="{{ url_for('frontend.login') }}">Login</a></li>

        </ul>
      </div>
    </nav>
    <main>
      {% block body %}
      {% endblock %}
    </main>
  </body>
      {% block script %}
      {% endblock %}
</html>

