{% extends "base.html" %}
{% block body %}
<div class="row" style="padding-top: 24px">
  <div class="col offset-s2 s8">
  {% for problem in pr %}
    {% if problem.is_open %}
    <span>
      <a href="{{url_for('frontend.show', _id = problem.id) }}">
        {% if problem.solver == 0 %}
        <span class="burning">
          <i class="tiny material-icons">star</i>
        {% else %}
         <span>
          <i class="tiny material-icons">label</i>

        {% endif %}
        {{ problem.name }}({{ problem.solver }})
      </a>
  </span>
  {{ problem.scores }}</span>
    {% else %}
      {% if True %}
      <span><i class="tiny material-icons">lock</i>Locked</span>
      {% else %}
      <a href="{{url_for('frontend.open', _id = problem.id) }}">
        <span><i class="tiny material-icons">vpn_key</i>Locked</span>
      </a>
      {% endif %}
    {% endif %}
    <br>
  {% endfor %}
  </div>
</div>

{% endblock %}
