{% extends "base.html" %}
{% block body %}
<div class="row" style="padding-top:24px">
  <div class="col offset-s2 s8">
    <table class="centered">
      <thead>
        <tr>
          <th data-field="Rules"> No </td>
          <th data-field="Rules"> Rules </td>
        </tr>
      </thead>
      <tbody>
        <tr><td>1</td><td> 키 공유 금지 </td></tr>
        <tr><td>2</td><td> 각 분야(pwn, web, rev, forensic, misc)중 3분야에서 1문제 이상 풀이(15이상) </td></tr>
        <tr><td>3</td><td> 카포전 출전 인원은 60%는 15이상에서 40%는 16에서 선출</td></tr>
        <tr><td>4</td><td> 문제의 점수는 푼 인원에 반비례하여 결정됨 </td></tr>
        <tr><td>5</td><td> 문제를 첫번째로 푼사람은 다른 문제를 열 수 있음 </td></tr>
        <tr><td>6</td><td> 문제에 관련된 질문은 호이장에게</td></tr>
        <tr><td>7</td><td> 진행 기간은 9/1 ~ 9/5까지</td></tr>
        <tr><td>8</td><td> 원래 퀄에 인증을 위해 익스 혹은 키를 가지고 있을 것</td></tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
