{% extends "base.html" %}
{% block body %}
<div class="row" style="padding-top:24px">
  <div class="col offset-s2 s8">
    <h5 class="center"> Send Notice </h5>
    <form class="col offset-s3 s6" method="post">
      <div class="row">
        <div class="input-field col s12">
          <textarea name="notice" type="text" class="validate"></textarea>
          <label for="first_name">Text</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit" value="Submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
