<!DOCTYPE html>
<html>
  <head>
    <title> GoN Kapo Qual </title>
    <link rel=stylesheet type=text/css href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/qual.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    {% block css %}
    {% endblock %}
  </head>
  <body style="background-color:#e0e0e0">
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="{{ url_for('frontend.main') }}"><i class="material-icons tiny">view_module</i></a></li>
          <li><a href="{{ url_for('frontend.rule') }}">Rule</a></li>
          <li><a href="{{ url_for('frontend.prob') }}">Probs</a></li>
          <li><a href="{{ url_for('frontend.notice') }}">Notice</a></li>
          {% if current_user and current_user.is_admin %}
          <li><a href="{{ url_for('frontend.refill') }}">Open Problem</a></li>
          {% endif %}
        </ul>


        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('frontend.mypage') }}">{{ current_user.userid }} </a></li>
          <li><a href="{{ url_for('frontend.logout') }}">Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('frontend.mypage') }}">Sign Up</a></li>
          <li><a href="{{ url_for('frontend.login') }}">Sign In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <main>
      {% block body %}
      {% endblock %}
    </main>
    <footer class="page-footer" style="background-color:#81c784;">
      <div class="footer-copyright">
        <div class="container">
          KAIST Hacking &#x26 Security group GoN, since 1999
          <div class="right">
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script>
    {% if msg %}
    Materialize.toast("{{ msg }}", 4000);
{% endif %}
  </script>
  {% block script %}
  {% endblock %}
</html>

