{% extends "base.html" %}
{% block body %}
<div class="row" style="padding-top:24px">
  <div class="col offset-s2 s8">
    <h5 class="center"> Login </h5>
    <form class="col offset-s3 s6" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input name="username" type="text" class="validate">
          <label for="first_name">Username</label>
        </div>
        <div class="input-field col s12">
          <input name="pw" type="password" class="validate">
          <label for="last_name">Password</label>
        </div>
        <div class="input-field col s12">
          <input name="pwchk" type="password" class="validate">
          <label for="last_name">Password Check</label>
        </div>
        <div class="input-field col s12">
          <input name="name" type="text" class="validate">
          <label for="last_name">name</label>
        </div>
        <div class="input-field col s12">
          <input name="regkey" type="password" class="validate">
          <label for="last_name">regist key</label>
        </div>
        <div class="col s12" style="padding-bottom: 24px">
          <label>GoN Entrance Year</label>
          <select name="eyear" class="browser-default">
            <option value="" disabled selected>Select</option>
            <option value="0">~15</option>
            <option value="1">16</option>
          </select>
        </div>
          <button class="btn waves-effect waves-light" type="submit" value="Submit">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
