<!DOCTYPE html>
<html>
  <head>
    <title> GoN CTF </title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/materialize.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/qual.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <style>
i.material-icons{display: inherit;}
    {% block css %}
    {% endblock %}
    </style>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">

        <ul class="right">
          {% if current_user.is_authenticated %}
          {% if current_user.admin %}
          <li><a href="{{ url_for('frontend.admin') }}">Admin</a></li>
          {% endif %}
          <li><a href="{{ url_for('frontend.mypage') }}">{{ current_user.userid }} </a></li>
          <li><a href="{{ url_for('frontend.logout') }}">Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('frontend.signup') }}">Sign Up</a></li>
          <li><a href="{{ url_for('frontend.login') }}">Sign In</a></li>
          {% endif %}
        </ul>
        <ul class="left">
          <li class="hide-on-small-only"><a href="{{ url_for('frontend.main') }}"><i class="material-icons tiny">view_module</i></a></li>
          <li><a href="{{ url_for('frontend.rule') }}">Rule</a></li>
          <li><a href="{{ url_for('frontend.prob') }}">Probs</a></li>
          <li><a href="{{ url_for('frontend.notice') }}">Notice</a></li>
          <li><a href="{{ url_for('frontend.rank') }}">Rank</a></li>
        </ul>
      </div>
    </nav>
    <main>
      {% block body %}
      {% endblock %}
    </main>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          KAIST Hacking &#x26 Security group GoN, since 1999
          <div class="right">
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script>
    {% if msg %}
    Materialize.toast("{{ msg }}", 4000);
{% endif %}
  </script>
  {% block script %}
  {% endblock %}
</html>

