{% extends "base.html" %}
{% block body %}
<div class="row center" style="padding-top:24px">
  <div class="col s12 offset-m2 m8">
    <h5> Game Begins In </h5>
    <div style="display: table;margin-right: auto;margin-left: auto">
      <!-- START COUNTDOWN -->
      <script src="{{url_for('static', filename='js/countdown.js')}}" type="text/javascript"></script>
      <script type="application/javascript">

        var myCountdown = new Countdown({
          rangeHi : "day",
            time : {{ left }},
            width	: 600, 
            height	: 100,
        });
      </script>
      <!-- END COUNTDOWN -->
    </div>
  </div>
</div>
<div class="row center" style="padding-top:24px">
  <div class="col s12 offset-m2 m8">
    <h5><a href="{{ url_for('frontend.notice') }}">Notice</a></h5>
    <table class="centered bordered">
      <tbody>
        {% for notice in notices %}
        <tr>
          <td style="background-color:#fff" class="ntd">
            <div class="col s1"> {{ notice.id }} </div>
            <div class="col s8"><span class="center"><div class="nbd">{{ notice.body}}</div></span></div>
            <div class="col s3"> {{ (notice.upload | string)[5:16]}}</div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>

<script>
$.each($(".nbd"), function(idx){
var content = $(this);
content.html(marked($("<div/>").html(content.html()).text(), {
gfm: true,
tables: true,
breaks: true,
sanitize: true,
smartLists: true
}));});
</script>
{% endblock %}

