{% extends "base.html" %}
{% block body %}
<div class="row center" style="padding-top:24px">
  <div class="col offset-s2 s8">
    <h5><a href="{{ url_for('frontend.notice') }}">Notice</a></h5>
    <table class="centered">
      <tbody>
        {% for notice in notices %}
        <tr>
          <td style="background-color:#fff">
            <div class="col s1"> {{ notice.id }} </div>
            <div class="col s8"><span class="center">{{ notice.body | safe }}</span></div>
            <div class="col s3"> {{ (notice.upload | string)[:19]}}</div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row center" style="padding-top:24px">
  <div class="col offset-s2 s8">
    <h5> Time Left </h5>
    <div style="display: table;margin-right: auto;margin-left: auto">
      <!-- START COUNTDOWN -->
      <script src="{{url_for('static', filename='js/countdown.js')}}" type="text/javascript"></script>
      <script type="application/javascript">

        var myCountdown = new Countdown({
          rangeHi : "day",
            time : {{ left }},
            width	: 600, 
            height	: 100,
        });
      </script>
      <!-- END COUNTDOWN -->
    </div>
  </div>
</div>

<div class="row center" style="padding-top:24px">
  <div class="col offset-s2 s8">
    <h5 class="burning">Hot Stuff!!!</h5>
    <div class="row">
      {% for problem in pr %}
      <div class="col s6 m4">
        <div class="card-panel">
          <span>
            <a href="{{ url_for('frontend.show', _id=problem.id) }}">
              {{ problem.name }}
            </a>
          </span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="row center" style="padding-top:24px">
    <div class="col offset-s2 s8">
      <h5> Rank </h5>
      <table class="centered highlight">
        <thead>
          <tr>
            <th data-field="rank">Rank</th>
            <th data-field="name">Name</th>
            <th data-field="score">Score</th>
            <th data-field="lastauth">authtime</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('frontend.show_user', _id = user.id) }} ">{{ user.userid }}</a></td>
            <td>{{ user.score }}</td>
            <td>{% if user.last_auth_success %}{{ (user.last_auth_success | string)[:19] }}{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endblock %}

