{% extends "base.html" %}
{% block css %}
<style>
  .chip
  {
    height: 24px;
    font-size: 10px;
    line-height: 22px;
  }
</style>
{% endblock css %}
{% block body %}
<div class="row" style="padding-top: 24px">
  <div class="col offset-s2 s4">
    <h5> Problems </h5>
    {% for category in categories %}
    <span><b>{{ category }} </b></span><br>
    {% for problem in pr[category] %}
    <span class="valign">
      {% if problem.is_open %}
      <a href="{{url_for('frontend.show', _id = problem.id) }}">
        {% if problem.is_hot %}
        <span class="burning">
          <i class="tiny material-icons">star</i>
          {% else %}
          <span>
            <i class="tiny material-icons">label</i>
            {% endif %}
            {{ problem.name }}({{ problem.solver }})
          </span>
        </a>
        {{ problem.scores }} 
        {% if current_user == problem.fb %}
        <div class="chip" style="display: inline-block; background-color: #64b5f6;color:#fff">
          first solver
        </div>
        {% elif problem.fb %} 
        <div class="chip" style="display: inline-block; background-color: #81c784;color:#fff">
          <a style="color:#fff" href="{{ url_for('frontend.show_user', _id = problem.fb.id) }}">{{ problem.fb.userid }}</a>
        </div>
        {% endif %}
        {% if current_user in problem.solvers %}
        <div class="chip" style="display: inline-block; background-color: #f48fb1;color:#fff">
          solved
        </div>
        {% endif %}
    </span>
      {% else %}
      {% if current_user and not current_user.is_open_able %}
      <span><i class="tiny material-icons">lock</i>Locked</span>
      {% else %}
      <a href="{{url_for('frontend.open', _id = problem.id) }}">
        <span><i class="tiny material-icons">vpn_key</i>open</span>
      </a>
      {% endif %}
      {% endif %}
    </span>
    <br>
    {% endfor %}
    <br>
    {% endfor %}
  </div>
  <div class="col s4">
    <h5 class="center"> Notice </h5>
    <div class="row">
    <table class="centered">
      <tbody>
        {% for notice in notices %}
        <tr style="height:24px">
          <td style="background-color:#fff; height:24px">
            <div class="col s1"> {{ notice.id }} </div>
            <div class="col s7"><span class="center">{{ notice.body | safe }}</span></div>
            <div class="col s4"> {{ (notice.upload | string)[:19]}}</div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr></hr>
    <h5 class="center"> Scoreboard </h5>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6"><a class="active"href="#15">15&#8593</a></li>
          <li class="tab col s6"><a href="#16">16</a></li>
        </ul>
      </div>
      <div id="15" class="col s12">

        <table class="centered highlight">
          <thead>
            <tr>
              <th data-field="rank">Rank</th>
              <th data-field="name">Name</th>
              <th data-field="score">Score</th>
              <th data-field="lastauth">authtime</th>
            </tr>
          </thead>
          <tbody>
            {% for user in U15 %}
            <tr {% if user == current_user %}class="me"{% endif %}>
              <td>{{ loop.index }}</td>
              <td><a href="{{ url_for('frontend.show_user', _id = user.id) }} ">{{ user.userid }}</a></td>
              <td>{{ user.score }}</td>
              <td>{% if user.last_auth_success %}{{ (user.last_auth_success | string)[:19] }}{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
      <div id="16" class="col s12">

        <table class="centered highlight">
          <thead>
            <tr>
              <th data-field="rank">Rank</th>
              <th data-field="name">Name</th>
              <th data-field="score">Score</th>
              <th data-field="lastauth">authtime</th>
            </tr>
          </thead>
          <tbody>
            {% for user in U16 %}
            <tr {% if user == current_user %}class="me"{% endif %}>
              <td>{{ loop.index }}</td>
              <td><a href="{{ url_for('frontend.show_user', _id = user.id) }} ">{{ user.userid }}</a></td>
              <td>{{ user.score }}</td>
              <td>{% if user.last_auth_success %}{{ (user.last_auth_success | string)[:19] }}{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

{% endblock %}
