{% extends "base.html" %}
{% block body %}
<div class="row" style="padding-top:24px">
  <div class="col offset-s2 s8">
    <table class="centered">
      <thead>
        <tr>
          <th data-field="Rules"> No </td>
          <th data-field="Rules"> Rules </td>
        </tr>
      </thead>
      <tbody>
        {% for rule in rules %}
        <tr><td>{{ loop.index }}</td><td><div class="rbd">{{ rule.body }}</div></td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>

<script>
$.each($(".rbd"), function(idx){
var content = $(this);
content.html(marked($("<div/>").html(content.html()).text(), {
gfm: true,
tables: true,
breaks: true,
sanitize: true,
smartLists: true
}));});
</script>
{% endblock %}

