{% extends "base.html" %}

{% block body %}
<div class="row" style="padding-top:24px">
  <div class="col offset-s2 s8" style="padding-left:24px">

    <div class="col offset-s1 s11">
      <span><h4 style="display: inline-block"> {{ user.userid }} </h4> 
        {% if rank >= 1 and rank <= 3 %}
        <div class="chip rank{{rank}}">Rank{{rank}}</div>
        {% else %}
        <div class="chip green lighten-2"> Rank: {{ rank }}</div>
        {% endif %}
      </span>
    </div>

    <hr />

    <div style="padding: 12px 24px 0 24px">
      <div class="row">
        <div class="col s2">
          <b class="right">Name</b><br>
          <b class="right">Last submit</b><br>
          <b class="right">Last auth</b><br>
          <b class="right">Score</b><br>
        </div>
        <div class="col s8">
          {{ user.name }}<br>
          {% if user.last_auth_failed %}{{ (user.last_auth_failed | string)[:19]}}{% endif %}<br>
          {% if user.last_auth_success %}{{ (user.last_auth_success | string)[:19]}}{% endif %}<br>
          {{ user.score }}<br>
        </div>
      </div>
    </div>

    <hr />

    <div class="row" style="padding: 12px 24px 12px 24px;">

      <div class="row">
        <div class="col s2">
          <h5 class="right"><b>Solved</b></h5>
        </div>
      </div>

      <div class="row">
        <div class="col offset-s1 s10">
          {% for prob in user.solves %}
          <a href="{{ url_for('frontend.show', _id = prob.id) }}"><b>[{{ prob.category }}]</b>{{ prob.name }}</a>
          <div class="chip green lighten-2">{{ prob.score }}</div>
          {% if prob.fb == user %}
          <div class="chip red lighten-2">First Solver</div>
          {% endif %}
          <br>
          {% endfor %}
        </div>
      </div>

    </div>
    <hr />
  </div>
</div>

{% endblock %}
